[data-ulight-theme=light-eelis].ulight-code-block {
    background-color: #ffffff;
    border-color: #ffffff;
}
[data-ulight-theme=light-eelis].ulight-code, [data-ulight-theme=light-eelis].ulight-code-block {
    color: #000000;
}
[data-ulight-theme=light-eelis] h-[data-h^=bool] {
    color: #9f6807;
}
[data-ulight-theme=light-eelis] h-[data-h^=cmt] {
    color: green;
    font-style: italic;
}
[data-ulight-theme=light-eelis] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-eelis] h-[data-h^=cmt_doc] {
    color: green;
    font-style: italic;
}
[data-ulight-theme=light-eelis] h-[data-h^=cmt_doc_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-eelis] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=light-eelis] h-[data-h^=kw] {
    color: #00607c;
}
[data-ulight-theme=light-eelis] h-[data-h^=kw_this] {
    color: #00607c;
}
[data-ulight-theme=light-eelis] h-[data-h^=name] {
    color: #000000;
}
[data-ulight-theme=light-eelis] h-[data-h^=name_dirt] {
    color: #6f4e37;
}
[data-ulight-theme=light-eelis] h-[data-h^=name_mac] {
    color: #6f4e37;
}
[data-ulight-theme=light-eelis] h-[data-h^=null] {
    color: #00607c;
}
[data-ulight-theme=light-eelis] h-[data-h^=num] {
    color: #9f6807;
}
[data-ulight-theme=light-eelis] h-[data-h^=str] {
    color: #9f6807;
}
[data-ulight-theme=light-eelis] h-[data-h^=str_esc] {
    color: #9f6807;
}
[data-ulight-theme=light-eelis] h-[data-h^=sym] {
    color: #570057;
}
[data-ulight-theme=light-eelis] h-[data-h^=sym_brac] {
    color: #af1915;
}
[data-ulight-theme=light-eelis] h-[data-h^=sym_bket] {
    color: #af1915;
}
[data-ulight-theme=light-eelis] h-[data-h^=sym_par] {
    color: #af1915;
}
[data-ulight-theme=light-eelis] h-[data-h^=sym_punc] {
    color: #000000;
}
[data-ulight-theme=light-eelis] h-[data-h^=sym_sqr] {
    color: #af1915;
}
[data-ulight-theme=light-eelis] h-[data-h^=val] {
    color: #9f6807;
}


[data-ulight-theme=dark-eelis].ulight-code-block {
    background-color: #171717;
    border-color: #171717;
}
[data-ulight-theme=dark-eelis].ulight-code, [data-ulight-theme=dark-eelis].ulight-code-block {
    color: #d0d0d0;
}
[data-ulight-theme=dark-eelis] h-[data-h^=bool] {
    color: #dfa837;
}
[data-ulight-theme=dark-eelis] h-[data-h^=cmt] {
    color: #35da00;
    font-style: italic;
}
[data-ulight-theme=dark-eelis] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-eelis] h-[data-h^=cmt_doc] {
    color: #35da00;
    font-style: italic;
}
[data-ulight-theme=dark-eelis] h-[data-h^=cmt_doc_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-eelis] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=dark-eelis] h-[data-h^=kw] {
    color: #12cabe;
}
[data-ulight-theme=dark-eelis] h-[data-h^=kw_this] {
    color: #12cabe;
}
[data-ulight-theme=dark-eelis] h-[data-h^=name] {
    color: #d0d0d0;
}
[data-ulight-theme=dark-eelis] h-[data-h^=name_mac] {
    color: #b27c58;
}
[data-ulight-theme=dark-eelis] h-[data-h^=null] {
    color: #12cabe;
}
[data-ulight-theme=dark-eelis] h-[data-h^=num] {
    color: #dfa837;
}
[data-ulight-theme=dark-eelis] h-[data-h^=str] {
    color: #dfa837;
}
[data-ulight-theme=dark-eelis] h-[data-h^=str_esc] {
    color: #dfa837;
}
[data-ulight-theme=dark-eelis] h-[data-h^=sym] {
    color: #baa6b9;
}
[data-ulight-theme=dark-eelis] h-[data-h^=sym_brac] {
    color: #ff1515;
}
[data-ulight-theme=dark-eelis] h-[data-h^=sym_bket] {
    color: #ff1515;
}
[data-ulight-theme=dark-eelis] h-[data-h^=sym_par] {
    color: #ff1515;
}
[data-ulight-theme=dark-eelis] h-[data-h^=sym_punc] {
    color: #d0d0d0;
}
[data-ulight-theme=dark-eelis] h-[data-h^=sym_sqr] {
    color: #ff1515;
}
[data-ulight-theme=dark-eelis] h-[data-h^=val] {
    color: #dfa837;
}

[data-ulight-theme=light-ulight].ulight-code-block {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
[data-ulight-theme=light-ulight].ulight-code, [data-ulight-theme=light-ulight].ulight-code-block {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=bool] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=cmt] {
    color: #777777;
    font-style: italic;
}
[data-ulight-theme=light-ulight] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-ulight] h-[data-h^=cmt_doc] {
    color: #777777;
    font-style: italic;
}
[data-ulight-theme=light-ulight] h-[data-h^=cmt_doc_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_eq] {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_del] {
    color: #b31d28;
    background-color: #ffeef0;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_head] {
    color: #777777;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_head_hunk] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_ins] {
    color: #22863a;
    background-color: #f0fff4;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_mod] {
    color: #7a680d;
    background-color: #fffdee;
}
[data-ulight-theme=light-ulight] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=light-ulight] h-[data-h^=kw] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=kw_this] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_attr] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_tag] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=name] {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_attr] {
    color: #966c1c;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_cmd] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_fun] {
    color: #853e7a;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_inst] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=asm_inst_pre] {
    color: #94b500;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_mac] {
    color: #3a2986;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_nt] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_nt_decl] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_opt] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_para] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_type] {
    color: #0050c8;
}
[data-ulight-theme=light-ulight] h-[data-h^=name_var] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=null] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=num] {
    color: #1d51a1;
}
[data-ulight-theme=light-ulight] h-[data-h^=num_deco] {
    color: #032354;
}
[data-ulight-theme=light-ulight] h-[data-h^=num_dlim] {
    color: #032354;
}
[data-ulight-theme=light-ulight] h-[data-h^=str] {
    color: #367c2a;
}
[data-ulight-theme=light-ulight] h-[data-h^=str_deco] {
    color: #2b5403;
}
[data-ulight-theme=light-ulight] h-[data-h^=str_dlim] {
    color: #2b5403;
}
[data-ulight-theme=light-ulight] h-[data-h^=str_esc] {
    color: #94b500;
}
[data-ulight-theme=light-ulight] h-[data-h^=sym] {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=sym_punc] {
    color: #646464;
}
[data-ulight-theme=light-ulight] h-[data-h^=text_del] {
    color: #ce9178;
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=text_emph] {
    font-style: italic;
}
[data-ulight-theme=light-ulight] h-[data-h^=text_ins] {
    color: #b5cea8;
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=text_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=text_stro] {
    font-weight: bold;
}
[data-ulight-theme=light-ulight] h-[data-h^=text_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=val] {
    color: #367c2a;
}


[data-ulight-theme=dark-ulight].ulight-code-block {
    background-color: #181818;
    border-color: #181818;
}
[data-ulight-theme=dark-ulight].ulight-code, [data-ulight-theme=dark-ulight].ulight-code-block {
    color: #e7e7e7;
}
[data-ulight-theme=dark-ulight] h-[data-h^=bool] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=cmt] {
    color: #777777;
    font-style: italic;
}
[data-ulight-theme=dark-ulight] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-ulight] h-[data-h^=cmt_doc] {
    color: #777777;
    font-style: italic;
}
[data-ulight-theme=dark-ulight] h-[data-h^=cmt_doc_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_del] {
    color: #ffdcd7;
    background-color: #67060c;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_head] {
    color: #777777;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_head_hunk] {
    color: #edc385;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_ins] {
    color: #aff5b4;
    background-color: #033a16;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_mod] {
    color: #fff4d7;
    background-color: #674d06;
}
[data-ulight-theme=dark-ulight] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=dark-ulight] h-[data-h^=kw] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=kw_this] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_attr] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_tag] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name] {
    color: #cccccc;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_attr] {
    color: #ea91d4;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_cmd] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_fun] {
    color: #ffdc9c;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_inst] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=asm_inst_pre] {
    color: #edc385;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_mac] {
    color: #b0a9cf;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_nt] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_nt_decl] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_opt] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_para] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_type] {
    color: #4fb0ff;
}
[data-ulight-theme=dark-ulight] h-[data-h^=name_var] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=null] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=num] {
    color: #8cbade;
}
[data-ulight-theme=dark-ulight] h-[data-h^=num_deco] {
    color: #669dd9;
}
[data-ulight-theme=dark-ulight] h-[data-h^=num_dlim] {
    color: #669dd9;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str] {
    color: #cf9e7e;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str_deco] {
    color: #db8d7b;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str_dlim] {
    color: #db8d7b;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str_esc] {
    color: #edc385;
}
[data-ulight-theme=dark-ulight] h-[data-h^=sym] {
    color: #ffffff;
}
[data-ulight-theme=dark-ulight] h-[data-h^=sym_punc] {
    color: #a0a0a0;
}
[data-ulight-theme=dark-ulight] h-[data-h^=text_del] {
    color: #ce9178;
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=text_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-ulight] h-[data-h^=text_ins] {
    color: #b5cea8;
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=text_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=text_stro] {
    font-weight: bold;
}
[data-ulight-theme=dark-ulight] h-[data-h^=text_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=val] {
    color: #98d48e;
}

[data-ulight-theme=dark-vs].ulight-code-block {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}
[data-ulight-theme=dark-vs].ulight-code, [data-ulight-theme=dark-vs].ulight-code-block {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=bool] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=cmt] {
    color: #6a9955;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_head] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_mod] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=err] {
    color: #f44747;
}
[data-ulight-theme=dark-vs] h-[data-h^=kw] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=kw_op] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=kw_this] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_attr] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_tag] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs] h-[data-h^=name] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=name_dirt] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=name_inst] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=name_mac] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=null] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=num] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=str] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym] {
    color: d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym_brac] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym_par] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym_sqr] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs] h-[data-h^=text_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs] h-[data-h^=text_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-vs] h-[data-h^=text_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=text_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=text_stro] {
    color: #569cd6;
    font-weight: bold;
}
[data-ulight-theme=dark-vs] h-[data-h^=text_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-vs] h-[data-h^=val] {
    color: #b5cea8;
}

[data-ulight-theme=dark-vs-plus].ulight-code-block {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}
[data-ulight-theme=dark-vs-plus].ulight-code, [data-ulight-theme=dark-vs-plus].ulight-code-block {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=bool] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=cmt] {
    color: #6a9955;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_head] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_mod] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=err] {
    color: #f44747;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw_ctrl] {
    color: #c586c0;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw_op] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw_this] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_attr] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_tag] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_cmd] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_cons] {
    color: #4fc1ff;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_dirt] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_fun] {
    color: #dcdcaa;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_inst] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_labl] {
    color: #4ec9b0;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_life] {
    color: #4ec9b0;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_mac] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_nt] {
    color: #4fc1ff;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_nt_decl] {
    color: #dcdcaa;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_opt] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_para] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_type] {
    color: #4ec9b0;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=name_var] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=null] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=num] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=str] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=str_esc] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=str_intp] {
    color: #da70d6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym] {
    color: d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym_brac] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym_par] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym_sqr] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=text_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=text_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=text_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=text_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=text_stro] {
    color: #569cd6;
    font-weight: bold;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=text_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=val] {
    color: #b5cea8;
}

[data-ulight-theme=light-wg21].ulight-code-block {
    background-color: #ffffff;
    border-color: #ffffff;
}
[data-ulight-theme=light-wg21].ulight-code, [data-ulight-theme=light-wg21].ulight-code-block {
    color: #000000;
}
[data-ulight-theme=light-wg21] h-[data-h^=bool] {
    color: #9f6807;
}
[data-ulight-theme=light-wg21] h-[data-h^=cmt] {
    color: green;
    font-style: italic;
}
[data-ulight-theme=light-wg21] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-wg21] h-[data-h^=cmt_doc] {
    color: green;
    font-style: italic;
}
[data-ulight-theme=light-wg21] h-[data-h^=cmt_doc_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-wg21] h-[data-h^=diff_eq] {
    color: #000000;
}
[data-ulight-theme=light-wg21] h-[data-h^=diff_del] {
    color: #b31d28;
    background-color: #ffeef0;
}
[data-ulight-theme=light-wg21] h-[data-h^=diff_head] {
    color: #777777;
}
[data-ulight-theme=light-wg21] h-[data-h^=diff_head_hunk] {
    color: #5c477e;
}
[data-ulight-theme=light-wg21] h-[data-h^=diff_ins] {
    color: #22863a;
    background-color: #f0fff4;
}
[data-ulight-theme=light-wg21] h-[data-h^=diff_mod] {
    color: #7a680d;
    background-color: #fffdee;
}
[data-ulight-theme=light-wg21] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=light-wg21] h-[data-h^=kw] {
    color: #00607c;
}
[data-ulight-theme=light-wg21] h-[data-h^=kw_this] {
    color: #00607c;
}
[data-ulight-theme=light-wg21] h-[data-h^=mk_attr] {
    color: #5c477e;
}
[data-ulight-theme=light-wg21] h-[data-h^=mk_tag] {
    color: #00607c;
}
[data-ulight-theme=light-wg21] h-[data-h^=name] {
    color: #000000;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_cmd] {
    color: #00607c;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_dirt] {
    color: #6f4e37;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_inst] {
    color: #00607c;
}
[data-ulight-theme=light-wg21] h-[data-h^=asm_inst_pre] {
    color: #9f6807;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_labl] {
    color: #517a0b;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_life] {
    color: #517a0b;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_mac] {
    color: #6f4e37;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_nt] {
    font-style: italic;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_nt_decl] {
    color: #00607c;
    font-style: italic;
}
[data-ulight-theme=light-wg21] h-[data-h^=name_opt] {
    color: #000000;
}
[data-ulight-theme=light-wg21] h-[data-h^=null] {
    color: #00607c;
}
[data-ulight-theme=light-wg21] h-[data-h^=num] {
    color: #9f6807;
}
[data-ulight-theme=light-wg21] h-[data-h^=str] {
    color: #9f6807;
}
[data-ulight-theme=light-wg21] h-[data-h^=str_esc] {
    color: #70400c;
}
[data-ulight-theme=light-wg21] h-[data-h^=str_intp] {
    color: #70400c;
}
[data-ulight-theme=light-wg21] h-[data-h^=sym] {
    color: #570057;
}
[data-ulight-theme=light-wg21] h-[data-h^=sym_brac] {
    color: #af1915;
}
[data-ulight-theme=light-wg21] h-[data-h^=sym_bket] {
    color: #af1915;
}
[data-ulight-theme=light-wg21] h-[data-h^=sym_par] {
    color: #af1915;
}
[data-ulight-theme=light-wg21] h-[data-h^=sym_punc] {
    color: #000000;
}
[data-ulight-theme=light-wg21] h-[data-h^=sym_sqr] {
    color: #af1915;
}
[data-ulight-theme=light-wg21] h-[data-h^=text_del] {
    color: #ce9178;
    text-decoration: line-through;
}
[data-ulight-theme=light-wg21] h-[data-h^=text_emph] {
    font-style: italic;
}
[data-ulight-theme=light-wg21] h-[data-h^=text_ins] {
    color: #b5cea8;
    text-decoration: underline;
}
[data-ulight-theme=light-wg21] h-[data-h^=text_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=light-wg21] h-[data-h^=text_stro] {
    font-weight: bold;
}
[data-ulight-theme=light-wg21] h-[data-h^=text_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=light-wg21] h-[data-h^=val] {
    color: #9f6807;
}


[data-ulight-theme=dark-wg21].ulight-code-block {
    background-color: #171717;
    border-color: #171717;
}
[data-ulight-theme=dark-wg21].ulight-code, [data-ulight-theme=dark-wg21].ulight-code-block {
    color: #f0f0f0;
}
[data-ulight-theme=dark-wg21] h-[data-h^=bool] {
    color: #f2d18d;
}
[data-ulight-theme=dark-wg21] h-[data-h^=cmt] {
    color: #a2e08d;
    font-style: italic;
}
[data-ulight-theme=dark-wg21] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-wg21] h-[data-h^=cmt_doc] {
    color: #a2e08d;
    font-style: italic;
}
[data-ulight-theme=dark-wg21] h-[data-h^=cmt_doc_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-wg21] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-wg21] h-[data-h^=diff_del] {
    color: #ffdcd7;
    background-color: #67060c;
}
[data-ulight-theme=dark-wg21] h-[data-h^=diff_head] {
    color: #777777;
}
[data-ulight-theme=dark-wg21] h-[data-h^=diff_head_hunk] {
    color: #edc385;
}
[data-ulight-theme=dark-wg21] h-[data-h^=diff_ins] {
    color: #aff5b4;
    background-color: #033a16;
}
[data-ulight-theme=dark-wg21] h-[data-h^=diff_mod] {
    color: #fff4d7;
    background-color: #674d06;
}
[data-ulight-theme=dark-wg21] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=dark-wg21] h-[data-h^=kw] {
    color: #62ded6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=kw_this] {
    color: #62ded6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=mk_attr] {
    color: #a4c4de;
}
[data-ulight-theme=dark-wg21] h-[data-h^=mk_tag] {
    color: #62ded6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name] {
    color: #f0f0f0;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_cmd] {
    color: #62ded6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_dirt] {
    color: #cc946e;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_inst] {
    color: #62ded6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=asm_inst_pre] {
    color: #e6aee6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_labl] {
    color: #d8eda6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_life] {
    color: #d8eda6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_mac] {
    color: #cc946e;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_nt] {
    font-style: italic;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_nt_decl] {
    color: #62ded6;
    font-style: italic;
}
[data-ulight-theme=dark-wg21] h-[data-h^=name_opt] {
    color: #f0f0f0;
}
[data-ulight-theme=dark-wg21] h-[data-h^=null] {
    color: #62ded6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=num] {
    color: #f2d18d;
}
[data-ulight-theme=dark-wg21] h-[data-h^=num_deco] {
    color: #e6b191;
}
[data-ulight-theme=dark-wg21] h-[data-h^=num_dlim] {
    color: #e6b191;
}
[data-ulight-theme=dark-wg21] h-[data-h^=str] {
    color: #f2d18d;
}
[data-ulight-theme=dark-wg21] h-[data-h^=str_deco] {
    color: #e6b191;
}
[data-ulight-theme=dark-wg21] h-[data-h^=str_dlim] {
    color: #e6b191;
}
[data-ulight-theme=dark-wg21] h-[data-h^=str_esc] {
    color: #e6aee6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=str_intp] {
    color: #e6aee6;
}
[data-ulight-theme=dark-wg21] h-[data-h^=sym] {
    color: #baa6b9;
}
[data-ulight-theme=dark-wg21] h-[data-h^=sym_brac] {
    color: #fa7878;
}
[data-ulight-theme=dark-wg21] h-[data-h^=sym_bket] {
    color: #fa7878;
}
[data-ulight-theme=dark-wg21] h-[data-h^=sym_par] {
    color: #fa7878;
}
[data-ulight-theme=dark-wg21] h-[data-h^=sym_punc] {
    color: #d0d0d0;
}
[data-ulight-theme=dark-wg21] h-[data-h^=sym_sqr] {
    color: #fa7878;
}
[data-ulight-theme=dark-wg21] h-[data-h^=text_del] {
    color: #ce9178;
    text-decoration: line-through;
}
[data-ulight-theme=dark-wg21] h-[data-h^=text_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-wg21] h-[data-h^=text_ins] {
    color: #b5cea8;
    text-decoration: underline;
}
[data-ulight-theme=dark-wg21] h-[data-h^=text_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-wg21] h-[data-h^=text_stro] {
    font-weight: bold;
}
[data-ulight-theme=dark-wg21] h-[data-h^=text_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-wg21] h-[data-h^=val] {
    color: #f2d18d;
}
