[data-ulight-theme=light-ulight].ulight-code-block {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
[data-ulight-theme=light-ulight].ulight-code, [data-ulight-theme=light-ulight].ulight-code-block {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=attr] {
    color: #966c1c;
}
[data-ulight-theme=light-ulight] h-[data-h^=bool] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=cmt] {
    color: #777777;
    font-style: italic;
}
[data-ulight-theme=light-ulight] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_eq] {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_del] {
    color: #b31d28;
    background-color: #ffeef0;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_head] {
    color: #777777;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_head_hunk] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_ins] {
    color: #22863a;
    background-color: #f0fff4;
}
[data-ulight-theme=light-ulight] h-[data-h^=diff_mod] {
    color: #7a680d;
    background-color: #fffdee;
}
[data-ulight-theme=light-ulight] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=light-ulight] h-[data-h^=esc] {
    color: #94b500;
}
[data-ulight-theme=light-ulight] h-[data-h^=id] {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=id_arg] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=id_fun] {
    color: #853e7a;
}
[data-ulight-theme=light-ulight] h-[data-h^=id_para] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=id_type] {
    color: #0050c8;
}
[data-ulight-theme=light-ulight] h-[data-h^=id_var] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=kw] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=mac] {
    color: #3a2986;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_attr] {
    color: #5c477e;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_del] {
    color: #ce9178;
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph] {
    font-style: italic;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_strk] {
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_stro] {
    font-style: italic;
    font-weight: bold;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_stro_strk] {
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_stro_ulin] {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_stro_ulin_strk] {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_ulin] {
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_emph_ulin_strk] {
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_ins] {
    color: #b5cea8;
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_stro] {
    font-weight: bold;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_stro_strk] {
    font-weight: bold;
    text-decoration: line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_stro_ulin] {
    font-weight: bold;
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_stro_ulin_strk] {
    font-weight: bold;
    text-decoration: underline line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_tag] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=light-ulight] h-[data-h^=mk_ulin_strk] {
    text-decoration: underline line-through;
}
[data-ulight-theme=light-ulight] h-[data-h^=null] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=num] {
    color: #1d51a1;
}
[data-ulight-theme=light-ulight] h-[data-h^=num_deco] {
    color: #032354;
}
[data-ulight-theme=light-ulight] h-[data-h^=num_dlim] {
    color: #032354;
}
[data-ulight-theme=light-ulight] h-[data-h^=str] {
    color: #367c2a;
}
[data-ulight-theme=light-ulight] h-[data-h^=str_deco] {
    color: #2b5403;
}
[data-ulight-theme=light-ulight] h-[data-h^=str_dlim] {
    color: #2b5403;
}
[data-ulight-theme=light-ulight] h-[data-h^=sym] {
    color: #000000;
}
[data-ulight-theme=light-ulight] h-[data-h^=sym_punc] {
    color: #646464;
}
[data-ulight-theme=light-ulight] h-[data-h^=this] {
    color: #c80032;
}
[data-ulight-theme=light-ulight] h-[data-h^=val] {
    color: #367c2a;
}


[data-ulight-theme=dark-ulight].ulight-code-block {
    background-color: #181818;
    border-color: #181818;
}
[data-ulight-theme=dark-ulight].ulight-code, [data-ulight-theme=dark-ulight].ulight-code-block {
    color: #e7e7e7;
}
[data-ulight-theme=dark-ulight] h-[data-h^=attr] {
    color: #ea91d4;
}
[data-ulight-theme=dark-ulight] h-[data-h^=bool] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=cmt] {
    color: #777777;
    font-style: italic;
}
[data-ulight-theme=dark-ulight] h-[data-h^=cmt_dlim] {
    font-style: normal;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_del] {
    color: #ffdcd7;
    background-color: #67060c;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_head] {
    color: #777777;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_head_hunk] {
    color: #edc385;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_ins] {
    color: #aff5b4;
    background-color: #033a16;
}
[data-ulight-theme=dark-ulight] h-[data-h^=diff_mod] {
    color: #fff4d7;
    background-color: #674d06;
}
[data-ulight-theme=dark-ulight] h-[data-h^=err] {
    color: #ff0000;
}
[data-ulight-theme=dark-ulight] h-[data-h^=esc] {
    color: #edc385;
}
[data-ulight-theme=dark-ulight] h-[data-h^=id] {
    color: #cccccc;
}
[data-ulight-theme=dark-ulight] h-[data-h^=id_arg] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=id_fun] {
    color: #ffdc9c;
}
[data-ulight-theme=dark-ulight] h-[data-h^=id_para] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=id_type] {
    color: #4fb0ff;
}
[data-ulight-theme=dark-ulight] h-[data-h^=id_var] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=kw] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mac] {
    color: #b0a9cf;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_attr] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_del] {
    color: #ce9178;
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_strk] {
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_stro] {
    font-style: italic;
    font-weight: bold;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_stro_strk] {
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_stro_ulin] {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_stro_ulin_strk] {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_ulin] {
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_emph_ulin_strk] {
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_ins] {
    color: #b5cea8;
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_stro] {
    font-weight: bold;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_stro_strk] {
    font-weight: bold;
    text-decoration: line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_stro_ulin] {
    font-weight: bold;
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_stro_ulin_strk] {
    font-weight: bold;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_tag] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-ulight] h-[data-h^=mk_ulin_strk] {
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-ulight] h-[data-h^=null] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=num] {
    color: #8cbade;
}
[data-ulight-theme=dark-ulight] h-[data-h^=num_deco] {
    color: #669dd9;
}
[data-ulight-theme=dark-ulight] h-[data-h^=num_dlim] {
    color: #669dd9;
}
[data-ulight-theme=dark-ulight] h-[data-h^=sh_cmd] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=sh-opt] {
    color: #a4c4de;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str] {
    color: #cf9e7e;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str_deco] {
    color: #db8d7b;
}
[data-ulight-theme=dark-ulight] h-[data-h^=str_dlim] {
    color: #db8d7b;
}
[data-ulight-theme=dark-ulight] h-[data-h^=sym] {
    color: #ffffff;
}
[data-ulight-theme=dark-ulight] h-[data-h^=sym_punc] {
    color: #a0a0a0;
}
[data-ulight-theme=dark-ulight] h-[data-h^=this] {
    color: #ff5a82;
}
[data-ulight-theme=dark-ulight] h-[data-h^=val] {
    color: #98d48e;
}

[data-ulight-theme=dark-vs].ulight-code-block {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}
[data-ulight-theme=dark-vs].ulight-code, [data-ulight-theme=dark-vs].ulight-code-block {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=bool] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=cmt] {
    color: #6a9955;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_head] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=diff_mod] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=err] {
    color: #f44747;
}
[data-ulight-theme=dark-vs] h-[data-h^=id] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=kw] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=kw_op] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=mac] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_attr] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_strk] {
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_stro] {
    color: #569cd6;
    font-style: italic;
    font-weight: bold;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_stro_strk] {
    color: #569cd6;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_stro_ulin] {
    color: #569cd6;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_stro_ulin_strk] {
    color: #569cd6;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_ulin] {
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_emph_ulin_strk] {
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_stro] {
    color: #569cd6;
    font-weight: bold;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_stro_strk] {
    color: #569cd6;
    font-weight: bold;
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_stro_ulin] {
    color: #569cd6;
    font-weight: bold;
    text-decoration: underline;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_stro_ulin_strk] {
    color: #569cd6;
    font-weight: bold;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_tag] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-vs] h-[data-h^=mk_ulin_strk] {
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs] h-[data-h^=null] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=num] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs] h-[data-h^=str] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym] {
    color: d4d4d4;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym_brac] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym_par] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs] h-[data-h^=sym_sqr] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs] h-[data-h^=this] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs] h-[data-h^=val] {
    color: #b5cea8;
}

[data-ulight-theme=dark-vs-plus].ulight-code-block {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}
[data-ulight-theme=dark-vs-plus].ulight-code, [data-ulight-theme=dark-vs-plus].ulight-code-block {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=bool] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=cmt] {
    color: #6a9955;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_eq] {
    color: #e7e7e7;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_head] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=diff_mod] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=err] {
    color: #f44747;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=esc] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id_arg] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id_cons] {
    color: #4fc1ff;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id_labl] {
    color: #c8c8c8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id_para] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id_type] {
    color: #4ec9b0;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=id_var] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw_ctrl] {
    color: #c586c0;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=kw_op] {
    color: #d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mac] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_attr] {
    color: #9cdcfe;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_del] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph] {
    font-style: italic;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_strk] {
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_stro] {
    color: #569cd6;
    font-style: italic;
    font-weight: bold;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_stro_strk] {
    color: #569cd6;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_stro_ulin] {
    color: #569cd6;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_stro_ulin_strk] {
    color: #569cd6;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_ulin] {
    font-style: italic;
    text-decoration: underline;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_emph_ulin_strk] {
    font-style: italic;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_ins] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_strk] {
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_stro] {
    color: #569cd6;
    font-weight: bold;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_stro_strk] {
    color: #569cd6;
    font-weight: bold;
    text-decoration: line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_stro_ulin] {
    color: #569cd6;
    font-weight: bold;
    text-decoration: underline;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_stro_ulin_strk] {
    color: #569cd6;
    font-weight: bold;
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_tag] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_ulin] {
    text-decoration: underline;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=mk_ulin_strk] {
    text-decoration: underline line-through;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=null] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=num] {
    color: #b5cea8;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sh_cmd] {
    color: #d7ba7d;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sh-opt] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=str] {
    color: #ce9178;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym] {
    color: d4d4d4;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym_brac] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym_par] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=sym_sqr] {
    color: #ffd700;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=this] {
    color: #569cd6;
}
[data-ulight-theme=dark-vs-plus] h-[data-h^=val] {
    color: #b5cea8;
}
